/* Universal Styles */

body{
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  color: seashell;
  opacity:0.9; /*test different values*/
  width: 100%
}

a{
  color: seashell;
  text-decoration: underline;
}

div{
  border: solid 1px white;
}

/* Header */

header {
  display: flex;
  position: fixed;
  align-items: center;
  height: 69px;
  width: 100%;
  top:0;
  border-bottom: 1px solid;
  z-index: 1;
  background-color: black;
}

.logo{
  flex-grow: 1;
  margin-left: 10px;
}

.logo img{
  height: 50px;
}

header nav span {
  margin: 10px;
}

.nav{
  margin-right: 20px;
}

/* Content */

.content {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.test{
  height: 100px;
  width: 100px;
  background-color: pink;
}

.section.one{
  background-color: blue;
  height: 700px;
  width: 700px;
}

.section.two{
  background-color: white;
  height: 1000px;
  width: 1000px;
}

.section.three{
  background-color: green;
  height: 500px;
  width: 500px;

}


/* Footer */
