/* Universal Styles */

body{
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  color: seashell;
  opacity:0.9; /*test different values*/
  width: 100%
}

a{
  color: seashell;
  text-decoration: underline;
}

.section.one, .section.two {
  margin-bottom: 50px;
}

.section .text{
  text-align: center;
  background-color: black;
  width: 100%;
}

.section h2,h4{
  display: inline-flex;
  margin: 10px;
}


/* Header */

header {
  display: flex;
  position: fixed;
  align-items: center;
  height: 69px;
  width: 100%;
  top:0;
  border-bottom: 1px solid;
  z-index: 1;
  background-color: black;
}

.logo{
  flex-grow: 1;
  margin-left: 10px;
}

.logo img{
  height: 50px;
}

header nav span {
  margin: 10px;
}

.nav{
  margin-right: 20px;
}

/* Content */

.content {
  position: relative;
  top: 63px;
  display: flex;
  width: 1200px;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/* Section 1 */

.section.one{
  position: relative;
  top:1000;
}

.section.one img{
  width: 100%;
  height: 700px;
}

.section.one .text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Section 2 */

.section.two {
  position: relative;
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.section.two .boxes{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.section.two .boxes .box img{
  display: block;
  width: 100%;
}

.section.two .box {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

/* Section 3 */

.section.three{
  background-image: url('..\\images\\img-locations-background.jpg');
  padding-top: 100px;
  padding-bottom: 100px;
  height: 500px;
  width: 100%;
}

.section.three .text{
  position: relative;
  background-color: transparent;
  color: white;
}

.section.three .text h2{
  margin-bottom: 15px;
}

.section.three .boxes{
  display:flex;
  justify-content: center;
}

.section.three .box {
  background-color: black;
  width: 300px;
  margin: 0 20px;
  opacity: 1;
}

.section.three .box span{
  display: block;
  margin: 25px 0;
}

.section.three .box h3 {
  font-weight: bold;
}

/* Section 4 */

.section.four{
  height: 200px;
  width: 100%;
}


/* Footer */

footer {
  width: 100%;
  position: relative;
  top:80px;
}

footer .text{
  position: absolute;
  left: 20px;
}
